## Review: what we did in Week 3: Amazon data
* Read Amazon.csv
* Get to know the data
* Create a smaller subset of the data
## [Jump to Week 4 material](#thisWeek)

In [1]:
# imports and specifications
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### read Amazon.csv

In [2]:
amazon = pd.read_csv('/Users/juandherrera/Google Drive/017_Machine Learning/ml/week04/Amazon.csv')

### get to know the data

In [3]:
print("amazon is:", type(amazon))
print("amazon has", amazon.shape[0], "rows and", amazon.shape[1], "columns", "\n")
print("the data types for each of the columns in amazon:")
print(amazon.dtypes, "\n")
print("the first 10 rows in amazon:")
print(amazon.head(10))

amazon is: <class 'pandas.core.frame.DataFrame'>
amazon has 455000 rows and 13 columns

the data types for each of the columns in amazon:
Unnamed: 0                  int64
Id                          int64
ProductId                  object
UserId                     object
ProfileName                object
HelpfulnessNumerator        int64
HelpfulnessDenominator      int64
Score                       int64
Time                        int64
Summary                    object
Text                       object
helpScore                 float64
helpful                      bool
dtype: object

the first 10 rows in amazon:
   Unnamed: 0      Id   ProductId          UserId       ProfileName  \
0      138806  138807  B000E63LME  A1CQGW1AOD0LF2  Alena K. "Alena"
1      469680  469681  B004ZIH4KM  A37S7U1OX2MCWI        Becky Cole
2      238202  238203  B003ZXE9QA  A2OM6G73E64EQ9              jeff
3      485307  485308  B001RVFERK  A25W349EE97NBK          Tangent4
4      375283  375284  B000OQZNTS  A3CPPW0HUC07YS       Amy Nicolai
5      530491  530492  B001E5DX90  A26XS571YR9XPF          Briana B
6      355114  355115  B000IGAE66   A1WFG6OC3PPGZ          N. Myhre
7      565582  565583  B002GKEK7G  A119CG9WIR9PEG         SWalling1
8      173265  173266  B000XZBXP8  A26F4DH22KS0ZC            DocT65
9      500973  500974  B001EQ5GZI  A206PQUGK87WZ7          N. Wells

   HelpfulnessNumerator  HelpfulnessDenominator  Score        Time  \
0                     1                       2      2  1294185600
1                     0                       0      5  1349740800
2                     0                       0      5  1329264000
3                     1                       1      4  1248307200
4                     0                       0      5  1333238400
5                     0                       0      5  1191628800
6                     0                       0      5  1293321600
7                     0                       0      5  1261094400
8                     1                       1      5  1326672000
9                     0                       0      5  1274054400

                                      Summary  \
0                            Not as pictured.
1                                       seeds
2                               I'm addicted!
3                   I wanted to love these...
4                     Excellent chamomile tea
5                          Better than Coffee
6  Great Ceasers Ghost- These Cakes Are Great
7               Are you kidding me!? SO GOOD!
8                          Fantastic dog food
9                        morning wake up call

                                                Text  helpScore  helpful
0  I was looking forward to try cranberry apple f...        0.5    False
1  TY for everything.  The seeds arrived quickly,...        NaN    False
2  I've finally found the best cereal in the worl...        NaN    False
3  I originally bought these chips because I'd he...        1.0    False
4  Really excellent tea, flowers are visible in t...        NaN    False
5  I never was a big fan of tea but this is not l...        NaN    False
6  WOW WOW WOW WOW,WOW,truly great tasting Banana...        NaN    False
7  The words 'protein drink' don't generally conj...        NaN    False
8  We have 2 dogs, Dachshund and a German Shepher...        1.0    False
9  after trying most brands of coffee, I have set...        NaN    False

### create a ndarray for `L`

In [4]:
L = amazon["helpful"]
print(type(L))
print(type(L.values))
print(L.shape)

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>
(455000,)

### create a ndarray for `X`
Use only "Score" and "Time" as features, for now.

In [5]:
X = amazon[["Score", "Time"]]
print(type(X))
print(type(X.values))
print(X.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
(455000, 2)

## <a name='thisWeek'></a>Week 4: fit linear classifier using gradient descent and assess the fit of the model

### using the `SGDClassifier` class in `linear_model`, fit the model according to given training data

In [6]:
from sklearn import linear_model
sgd = linear_model.SGDClassifier(loss="squared_loss")
sgd.fit(X, L)

/Users/juandherrera/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
       early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
       l1_ratio=0.15, learning_rate='optimal', loss='squared_loss',
       max_iter=None, n_iter=None, n_iter_no_change=5, n_jobs=None,
       penalty='l2', power_t=0.5, random_state=None, shuffle=True,
       tol=None, validation_fraction=0.1, verbose=0, warm_start=False)

In [7]:
# number & proportion of accurate predictions
print(sum(sgd.predict(X) == L.values))
print(sum(sgd.predict(X) == L.values) / L.shape)

33235
[0.07304396]

### how well did we do? compare the model's predictions for  `Y` to the labels `L`
We'll start with the first few measures in Flach, p. 57

In [8]:
import my_measures

sgd_pm = my_measures.BinaryClassificationPerformance(sgd.predict(X), L, 'sgd')
sgd_pm.compute_measures()
print(sgd_pm.performance_measures)

{'Pos': 33235, 'Neg': 421765, 'TP': 33235, 'TN': 0, 'FP': 421765, 'FN': 0, 'Accuracy': 0.07304395604395604, 'Precision': 0.07304395604395604, 'Recall': 1.0, 'desc': 'sgd'}

## Normalization

*[Normalization](https://scikit-learn.org/stable/modules/preprocessing.html#normalization) is the process of scaling individual samples to have unit norm.*

In [9]:
X.describe()

               Score          Time
count  455000.000000  4.550000e+05
mean        4.183233  1.296260e+09
std         1.310769  4.800970e+07
min         1.000000  9.393408e+08
25%         4.000000  1.271290e+09
50%         5.000000  1.311120e+09
75%         5.000000  1.332720e+09
max         5.000000  1.351210e+09

In [10]:
from sklearn import preprocessing
X_normalized = preprocessing.normalize(X)

In [11]:
pd.DataFrame(X_normalized).describe()

                  0         1
count  4.550000e+05  455000.0
mean   3.234304e-09       1.0
std    1.025960e-09       0.0
min    7.400776e-10       1.0
25%    2.994586e-09       1.0
50%    3.746140e-09       1.0
75%    3.860856e-09       1.0
max    5.322882e-09       1.0